/*Styles for cooldown directive*/

cooldown{
  display: inline-block;
  margin: 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

cooldown div.opening{
  background-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  border-style: solid;
  position: relative;
}

cooldown div.opening div.circle{
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
/*  transition-property: transform,background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transform: scale(0.3);
  transition-style: preserve-3d;
  -webkit-transition-property: -webkit-transform,background-color;
  -webkit-transition-duration:1s;
  -webkit-transition-timing-function:ease-out;
  -webkit-transform: scale(0.3);
  -webkit-transform-style: preserve-3d;
  -moz-transition-property: -moz-transform,color;
  -moz-transition-duration:1s;
  -moz-transition-timing-function:ease-out;
  -moz-transform: scale(0.3); 
  -moz-transform-style: preserve-3d;*/
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
}

cooldown div.opening div.circle i{
  visibility: hidden;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  text-align: center;
  display: block;
}

cooldown .kudo.complete a.kudobject div.opening div.circle i{
  visibility: visible;

  /*background-image: url(images/heart_60x60.png);*/
  /*background-position: center; */
  /*background-repeat: no-repeat;*/
  /*background-size:80%;*/
  /*-moz-background-size:80%;*/
}

cooldown a.kudobject{
  display: block;
  cursor: pointer;
}

cooldown .kudo.complete a.kudobject div.opening div.circle{
  transition-property: none;
/*  animation: bounce 1s;*/
/*  animation-iteration-count: 1;*/
  transform: scale(0.80);
  -webkit-transition-property: none;
/*  -webkit-animation: bounce 1s;*/
/*  -webkit-animation-iteration-count: 1;*/
  -webkit-transform: scale(0.80);
  -moz-transition-property: none;
/*  -moz-animation: bounce 1s;*/
/*  -moz-animation-iteration-count: 1;*/
  -moz-transform: scale(0.80);
}

/* Animation */
/* Hacks so the children animation is not ignored */
cooldown .kudo.complete-add{
  transition: 500ms linear all;
}

cooldown .kudo.complete-remove{
  transition: 200ms linear all;
}


cooldown .kudo.complete-add a.kudobject div.opening div.circle{
  -webkit-animation: bounce 500ms;
}

cooldown .kudo.complete-remove a.kudobject div.opening div.circle{
  -webkit-animation: fadeout 200ms cubic-bezier(0.39, 0.575, 0.565, 1); /*Easeout-sin*/
}

/*cooldown kudo.hidden.ng-enter {
  -webkit-animation: enter_sequence 1s linear;
}

@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}*/


@keyframes bounce { 
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.6);
    opacity: .7;
  }
  60% {
    transform: scale(0.6);
    opacity: 1;
  }
  80% { transform: scale(0.95) }
  100% { transform: scale(0.85) }
}
@-webkit-keyframes bounce { 
  0% {
    -webkit-transform: scale(1.1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.6);
    opacity: .7;
  }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 1;
  }
  80% { -webkit-transform: scale(0.95) }
  100% { -webkit-transform: scale(0.85) }
}
@-moz-keyframes bounce { 
  0% {
    -moz-transform: scale(1.1);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(1.6);
    opacity: .7;
  }
  60% {
    -moz-transform: scale(0.6);
    opacity: 1;
  }
  80% { -moz-transform: scale(0.95) }
  100% { -moz-transform: scale(0.85) }
}

@-webkit-keyframes fadeout { 
  from { 
    -webkit-transform: scale(0.85);
    opacity:1;
  }
  to { 
    -webkit-transform: scale(2);
    opacity:0;
  }
}