/*Styles for cooldown directive*/

cooldown{
  display: inline-block;
  margin: 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

cooldown div.opening{
  background-color: rgba(0,0,0,0);
  border-radius: 100%;
  margin: 0 auto;
  border-style: solid;
  position: relative;
  width: 40px;
  height: 40px;
  border-width: 4px;
  border-color: #724bc5;
}

cooldown div.opening div.circle{
  border-radius:100%;
  position:absolute;
  top:50%;
  left:50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  background-color: #724bc5;
  border: 4px solid #724bc5;

  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
}

cooldown div.opening div.circle i{
  visibility: hidden;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #222;
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 18px; /* WTF */
  height: 16px;
  width: 16px;
}

cooldown .kudo.complete a.kudobject div.opening div.circle i{
  visibility: visible;
}


/*Loading*/
cooldown .kudo.loading .opening{
  border-left: 4px solid rgba(0,0,0,0);
  border-right: 4px solid rgba(0,0,0,0);
  border-top: 4px solid #724bc5;
  border-bottom: 4px solid #724bc5;
  -webkit-animation: spin 1000ms infinite linear;
}

cooldown .kudo.loading .circle{
  border-left: 4px solid rgba(0,0,0,0);
  border-right: 4px solid rgba(0,0,0,0);
  border-top: 4px solid #724bc5;
  border-bottom: 4px solid #724bc5;
  -webkit-animation: spin_inv 400ms infinite linear;
  background-color: #222;
}

cooldown a.kudobject{
  display: block;
  cursor: pointer;
}

cooldown .kudo.complete a.kudobject div.opening div.circle{
  transition-property: none;
  transform: scale(1);

  -webkit-transition-property: none;
  -webkit-transform: scale(1);

  -moz-transition-property: none;
  -moz-transform: scale(1);
}

/* Animation */
/* Hacks so the children animation is not ignored */
cooldown .kudo.complete-add{
  -webkit-transition: 500ms linear all;
  transition: 500ms linear all;
}

cooldown .kudo.complete-remove{
  -webkit-transition: 200ms linear all;
  transition: 200ms linear all;
}


cooldown .kudo.complete-add a.kudobject div.opening div.circle{
  animation: bounce 500ms;
  -webkit-animation: bounce 500ms;
}

cooldown .kudo.complete-remove a.kudobject div.opening div.circle{
  animation: fadeout 200ms cubic-bezier(0.39, 0.575, 0.565, 1); /*Easeout-sin*/
  -webkit-animation: fadeout 200ms cubic-bezier(0.39, 0.575, 0.565, 1); /*Easeout-sin*/
}


@-webkit-keyframes bounce { 
  0% {
    -webkit-transform: scale(1.4);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(2.0);
    opacity: .7;
  }
  60% {
    -webkit-transform: scale(0.75);
    opacity: 1;
  }
  80% { -webkit-transform: scale(1.2) }
  100% { -webkit-transform: scale(1) }
}

@-webkit-keyframes fadeout { 
  from { 
    -webkit-transform: scale(1);
    opacity:1;
  }
  to { 
    -webkit-transform: scale(3);
    opacity:0;
  }
}

@-webkit-keyframes spin { 
  from { 
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin_inv { 
  from { 
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(-360deg);
  }
}