multiplier{
  display: block;
  height: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #FFDC00;
  font-size: 12px;
}

multiplier .progress-bar{
  text-align: left;
  height: 4px;
  margin-bottom: 4px;
  width: 27px;
  margin-left: 6px;
  display: inline-block;
}

multiplier .progress-bar span{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #FFDC00;
}