/*aqua     #7FDBFF
blue     #0074D9
navy     #001F3F
teal     #39CCCC
green    #2ECC40
olive    #3D9970
lime     #01FF70
yellow   #FFDC00
orange   #FF851B
red      #FF4136
fuchsia  #F012BE
purple   #B10DC9
maroon   #85144B
white    #ffffff
silver   #dddddd
gray     #aaaaaa
black    #111111*/

body{
  font-family: 'Lato', sans-serif;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  color: #ddd;
  background: #222;  
}

.main-container{
  margin-top: 75px;
  -webkit-transform: translatez(0); /* 3D acceleration */
}


/* Title bar */
.topbar{
  position: fixed;
  background: #333;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-bottom: 4px solid #444;
}

.main-title{
  margin-top: 1em;
  font-size: 24px;
  margin-top: 18px;
  margin-left: 10px;
}

.main-title i{
  float: right;
  color: #555;
  margin-right: 30px;
  cursor: pointer;
  font-size: 36px;
}

.main-title .dot{
  font-size: 2.5em;
  line-height: 0;
  letter-spacing: -0.15em;
}

.dot1{color: #FFDC00;}
.dot2{color: #F012BE;}
.dot3{color: #39CCCC; margin-right:5px;}



/* Angular cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none!important;
}


/* Loader */
#loading{
  text-align: center;
  margin-top: 30%;
}
#loading p{
  font-size: 12px;
}


/* Playlists */
li {
    list-style: none;
    line-height: 60px;
    font-size: 1.2em;
}

ul {
    margin-left: 0;
}

h1, h2 {
    color: #ddd;
    font-weight: bold;
    margin-bottom: 0.5em;
}


li strong {
  display: block;
  line-height: 18px;
  font-size: 14px;
  margin-top: 12px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li em {
  display: block;
  font-style: inherit;
  font-weight: lighter;
  line-height: 18px;
  font-size: 12px;
  margin-top: 4px;
}


#playlist, .search-results {
  overflow: hidden;
}

.notracks{
  margin-top: 1em;
  font-style: italic;
  color: #999;
  font-size: 1.5em;
}

.score{
  text-align: right;
  width: 64px;
  position: absolute;
  height: 71px;
}
.score span {
  vertical-align: bottom;
  display: inline-block;
  font-weight: bolder;
  font-size: 32px;
  line-height: 32px;
  margin-top: 12px;
  color: #555;
  text-shadow: 0px 1px 0.5px #333;
}
.stars{
  height: 12px;
  line-height: 12px;
  margin-top: 6px;
  color: #FFDC00;
  font-size: 11px;
}

.cooldowns{
  padding: 12px 0px;
}

.star{
  font-size: 44px;
  line-height: 44px;
  color: #999;
  -webkit-transform: scale(1);
  opacity: 1;
  transition: 200ms ease all;
  -webkit-transition: 200ms ease all;
}

.star.active{
  color: #FFDC00;
}

.star.active-add{
  -webkit-transform: scale(1.5);
  opacity: 0.5;
}


/* Search */
.row > p {
  padding: 0px 10px;
}


.search-results .add {
  font-size: 55px;
  color: #555;
  text-align: right;
  vertical-align: bottom;
}

.search-results .add i {
  cursor: pointer;
  line-height: 82px;
}

.search {
  margin-top: 1em;
}

.track-added{
  color: #2ECC40; /*green*/
}

#search input{
  font-size: 16px; /*No zoom in safari mobile*/
  height: 40px;
}

.searching{
  margin-top: 30px;
}


/* Sliding the cooldowns */
.track{
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  background: #444;
  height: 72px;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.25);*/
}

.track .front{
  position: relative;
  z-index: 2;
  background: #222;
  border-top: 1px solid #333;
  border-bottom: 1px solid #111;
  height: 72px;

  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.track.slide .front{
  -webkit-transform: translateX(62px);
  transform: translateX(62px); 
}

.track .track-details{
  padding-right: 70px;
  left: 80px;
  height: 71px;
  position: absolute;
}

.track .back{
  position: absolute;
  left: 10px;
  top: 4px;
}

.track .toggle-switch{
  height: 70px;
  position: absolute;
  right: 0px;
  top: 1px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: -webkit-gradient(linear, right top, left top, from(#222), to(rgba(51,51,51,0)), color-stop(.8,#222));;
  cursor: pointer;
  color: #444;
  font-size: 82px;
  z-index: 3;
}

.track .toggle-switch cooldown{
  margin-top: 16px;
}



/* Playlist reordering */
/* c.f http://jsfiddle.net/jgoemat/kta95/3/ */
.track.ng-move {
  -webkit-transform: translateY(72px);
  transform: translateY(72px);

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.track.ng-move.ng-move-active {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.track.ng-move + li {
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px);
}

.track.ng-move.ng-move-active + li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.track.ng-enter {
  height: 0;
  opacity: 0; /*Trick for no flicker*/
  -webkit-transition: 1000ms linear all;
  transition: 1000ms linear all;
}

.track.ng-enter.ng-enter-active {
  -webkit-animation: insert 1000ms;
  animation: insert 1000ms;
}

.track.ng-leave {
  -webkit-transition: 1000ms linear all;
  transition: 1000ms linear all;
}

.track.ng-leave.ng-leave-active {
  -webkit-animation: remove 1000ms;
  animation: remove 1000ms;
}


/* Animations */
@-webkit-keyframes insert{ 
  /* Initial state : nothing */
  0% {
    height: 0;
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* Open the space */
  30% {
    height: 72px;
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* Slide the track from the left */
  100% {
    height: 72px;
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}


@-webkit-keyframes remove{ 
  /* Initial state : nothing */
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    height: 72px;
  }

  /* Slide to the right */
  30% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 72px;
  }

  /* Close the space */
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 0;
  }
}



/* Spinner */
.spinner{
  display: block;
  height: 50px;
  width: 50px;
  font-size: 0;
  position: relative;
  left: 50%;
  margin-left: -25px;
}
.spinner span.bar{
  display: inline-block;
  background-color: white;
  height: 50px;
  width: 12px;
  position: absolute;
  bottom: 0;
}

.spinner span.bar:nth-child(1){
  left: 0px;
  background-color: #FFDC00;
  -webkit-animation: equalize 1000ms infinite linear;
}
.spinner span.bar:nth-child(2){
  left: 19px;
  background-color: #F012BE;
  -webkit-animation: equalize 600ms infinite linear;
}
.spinner span.bar:nth-child(3){
  left: 38px;
  background-color: #39CCCC;
  -webkit-animation: equalize 800ms infinite linear;
}

@-webkit-keyframes equalize{ 
  0%{
    height: 0px;
  }
  50%{
    height: 50px;
  }
  100%{
    height: 0px;
  }
}

