<html ng-app="app">
  <head>
    <title>PLST</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="640">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="cleartype" content="on">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,900,100italic,400italic,900italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/css/cooldown.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-cookies.js"></script>
    <script type="text/javascript" src="/js/vendor/animationframe.js"></script>
    <script type="text/javascript">
      AnimationFrame.shim();
    </script>


    <!-- TODO better, dev vs prod conf -->
    <script type="text/javascript" src="http://playlist.mru2.com:3456/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://localhost:3457/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/js/main.js"></script>

    <script type="text/javascript" src="/js/services/socket.js"></script>
    <script type="text/javascript" src="/js/services/cooldowns.js"></script>
    <script type="text/javascript" src="/js/services/tracks.js"></script>
    <script type="text/javascript" src="/js/services/user.js"></script>

    <script type="text/javascript" src="/js/directives/cooldown.js"></script>

    <script type="text/javascript" src="/js/controllers/playlist.js"></script>
    <script type="text/javascript" src="/js/controllers/search.js"></script>

  </head>

  <body>
    <div id="dz-root"></div>

    <div ng-hide="appLoaded">
      <div id="loading">
        <div class="spinner">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <p>Loading...</p>
      </div>
    </div>

    <div ng-cloak ng-show="appLoaded">

      <!-- Header -->
      <div class="row">
        <h2 class="main-title">
          <span class="dot dot1">.</span>
          <span class="dot dot2">.</span>
          <span class="dot dot3">.</span>
          plst
          <i class="fa fa-search" ng-click="isSearch = true" ng-show="!isSearch"></i>
          <i class="fa fa-bars" ng-click="isSearch = false" ng-show="isSearch"></i>
        </h2>
      </div>


      <!-- Search -->
      <div ng-controller="SearchCtrl" ng-show="isSearch">

        <div class="row collapse search" id="search">
          <div class="small-9 columns">
            <input id="search" type="search" placeholder="Ajouter un morceau" ng-model="query"/>
          </div>
          <div class="small-3 columns">
            <input type="submit" value="Go" class="button postfix" ng-click="doSearch()"/>
          </div>
        </div>

        <div class="row" ng-show="firstView">
          <p>Recherchez un artiste ou un titre, puis appuyez sur <i class="fa fa-plus-circle"></i> pour le rajouter à la playlist en cours.</p>
        </div>

        <div class="row searching" ng-show="searching">
          <div class="spinner">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>

        <ul class="search-results row" ng-hide="searching">
          <li ng-repeat="track in results" class="track">
            <div class="front row">

              <div class="small-3 columns add">
                <i class="fa fa-plus-circle" ng-click="addTrack(track)" ng-show="track.status === undefined"></i>
                <i class="fa fa-spinner fa-spin" ng-show="track.status === 'adding'"></i>
                <i class="fa fa-check track-added" ng-show="track.status === 'added'"></i>
              </div>

              <div class="small-9 columns track-details">
                <em>{{ track.artist.name }}</em>
                <strong>{{ track.title }}</strong>
              </div>

            </div>
          </li>
        </ul>

      </div>


      <!-- Playlist -->
      <ul id="playlist" ng-controller="PlaylistCtrl" class="row" ng-show="!isSearch">

        <div ng-show="playlist.length === 0">
          <p class="notracks">The playlist is empty :( &nbsp;&nbsp; Add some tracks with the search in the top right</p>
        </div>

        <li ng-repeat="track in playlist | orderBy:'score':true" class="track small-12 columns" ng-class="(currentTrack === track) ? 'slide' : ''">

            <div class="toggle-switch">
              <cooldown cooldown="track.cooldown" ng-click="track.cooldown.use()" size="40"></cooldown>
            </div>

            <div class="back">
              <div class="cooldowns">

                <div class="star" ng-class="isStar(track) ? 'active' : ''" ng-click="doStar(track)">
                  <i class="fa" ng-class="isStar(track) ? 'fa-star' : 'fa-star-o'"></i>
                </div>

              </div>
            </div>

            <div class="front row"  ng-click="toggleSlide(track)">

              <div class="small-3 columns score">
                <span>{{ track.score }}</span>
                <div class="stars">
                  <div ng-show="track.stars > 0">
                    <i class="fa fa-star"></i> × {{track.stars}}
                  </div>
                </div>
              </div>

              <div class="small-9 columns track-details">
                <em>{{ track.artist }}</em>
                <strong>{{ track.title }}</strong>
              </div>

            </div>


          </div>
        </li>
      </ul>

    </div>

  </body>
</html>
